.video-container {
  width:100vw;
  height: 100vh;
  margin: 0;
}

.fullVid {
  position:fixed;
  z-index: -1;
}

/* video {
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: calc(100%);
  z-index: -1000;
  overflow: hidden;
} */

@media (min-aspect-ratio: 16/9) {
  .fullVid {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullVid { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  .fullVid {
      display: none;
  }
  body {
      background: url('../../img/bg.jpg');
      background-size: cover;
  }
}

.vidblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}