.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: black !important;
}

img:hover {
  filter: brightness(110%);
}

a {
  margin-left: auto;
  margin-right: auto;
}