.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body { 
  font-family: 'Metropolis'; 
}

h1 {
  font-family: 'Metropolis-Bold';
}

img {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: black !important;
}

img:hover {
  filter: brightness(110%);
}

a {
  margin-left: auto;
  margin-right: auto;
}